<% provide(:title, 'О нас') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, '') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <p align="justify" style="font-size: 14px;">Наша компания существует с 2009 года. Непрерывно на протяжении всего периода существования мы накапливаем и совершенствуем свой опыт, благодаря чему можем обеспечить индивидуальный подход к своим клиентам. На начальном этапе развития занимались <b>утеплением/теплоизоляцией строений и сооружений с использованием <%= link_to "пенополиуретана", ppu_path %> и <%= link_to "пеноизола", pi_path %></b>. С 2012 года освоили новое направление - <b>производство и монтаж <%= link_to "клинкерных фасадных термопанелей", termopanel_path %></b>. Наше предложение на рынке характеризуется доступными ценами при высоком качестве товаров и услуг.</p>
      <p align="justify" style="font-size: 14px;">В условиях роста цен на электроэнергию, газ, уголь, древесное топливо у людей все чаще возникает желание уменьшить их расход. Достигается это засчет грамотного выбора и использования теплоизолятора (в нашем случае пенополиуретан или пеноизол). Эффект от утепления/теплоизоляции аналогичен тому, что имеет место в случае установки специальных счетчиков на горячую воду и обычных на холодную в квартирах, а именно экономия затрат (в данном случае на отопление).</p>
     
      <p align="center">Типовое производственное помещение</p>

      <p style="text-align:center;"><%= link_to image_tag("manufacture.jpg", alt: "manufacture", size: "750x750", class: "img-polaroid"), '/images/manufacture.jpg' %></p>
           
    </div>
  </div>
</div>
