<% provide(:title, 'Утепление домов, клинкерные фасадные термопанели') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Современный подход к утеплению и теплоизоляции жилых домов с применением фасадных термопанелей, пенополиуретана и пеноизола') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="page-header">
      <h1>Современный подход к утеплению и теплоизоляции жилых домов с применением фасадных термопанелей, пенополиуретана и пеноизола</h1>
    </div>

    <div class="well">
     
      <p align="justify" style="font-size: 14px; text-indent: 2em;">В условиях роста цен на электроэнергию, газ, уголь, древесное топливо у людей все чаще возникает желание уменьшить их расход. Достигается это засчет грамотного выбора и использования теплоизолятора (в нашем случае пенополиуретан или пеноизол). Эффект от утепления/теплоизоляции аналогичен тому, что имеет место в случае установки специальных счетчиков на горячую воду и обычных на холодную в квартирах, а именно экономия затрат (в данном случае на отопление).</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Наша компания существует с 2009 года. Непрерывно на протяжении всего периода существования мы накапливаем и совершенствуем свой опыт, благодаря чему можем обеспечить индивидуальный подход к своим клиентам. На начальном этапе развития занимались <b>утеплением/теплоизоляцией домов и сооружений с использованием <%= link_to "пенополиуретана", ppu_path %> и <%= link_to "пеноизола", pi_path %></b>. С 2012 года освоили новое направление - <b>производство и монтаж <%= link_to "клинкерных фасадных термопанелей", termopanel_path %></b>. Наше предложение на рынке характеризуется доступными ценами при высоком качестве товаров и услуг.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">В своей практике мы используем положительный опыт научно-производственных организаций абсолютно открытый и доступный общественности. Важно отметить, что вся научная база по утеплению домов пеноизолом, пенополиуретаном, а также клинкерными фасадными термопанелями этих организаций сформирована с учетом климатических особенностей и специфики строительства (материалы, планировки). Мы не занимаемся изобретением велосипедов, используем только проверенные временем эффективные подходы. Такие подходы позволяют иначе взглянуть на проблему утепления и теплоизоляции. Если раньше бытовало мнение, что воздушная прослойка едва ли не обязательна при возведении стен дома (например, между облицовочным кирпичом и черновым), то сейчас на ее место приходит тот или иной теплоизоляционный материал (пенополиуретан, пеноизол). </p>
     
      <p align="center">Типовое производственное помещение</p>

      <p style="text-align:center;"><%= link_to image_tag("manufacture.jpg", alt: "manufacture", size: "750x750", class: "img-polaroid"), '/images/manufacture.jpg', target: "_blank" %></p>
           
    </div>
  </div>
</div>
