<% provide(:title, 'Фасадные термопанели, утепление: фото наших работ') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, '') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="page-header">
      <h1>Фотографии выполненных работ</h1>
    </div>

    <div class="well">
      
      <div class="alert alert-block alert-info">
        <strong><span class="label label-info">Информация</span></strong> Для просмотра фотографии в увеличенном варианте кликните на изображение.
      </div>
      
      <p align="justify" style="font-size: 14px; text-indent: 2em;"></p>
      
      <p align="center"><b>Фасадные термопанели (клинкерная плитка и пенополиуретан)</b></p>

      <p style="text-align:center;"><%= link_to image_tag("house 1.jpg", alt: "HOUSE 1", size: "250x250", class: "img-polaroid"), '/images/house 1.jpg', target: "_blank" %> <%= link_to image_tag("house 2.jpg", alt: "HOUSE 2", size: "270x270", class: "img-polaroid"), '/images/house 2.jpg', target: "_blank" %> <%= link_to image_tag("house 3.jpg", alt: "HOUSE 3", size: "254x254", class: "img-polaroid"), '/images/house 3.jpg', target: "_blank" %></p>
        
      <p style="text-align:center;"><%= link_to image_tag("house 4.jpg", alt: "HOUSE 4", size: "340x340", class: "img-polaroid"), '/images/house 4.jpg', target: "_blank" %> <%= link_to image_tag("house 5.jpg", alt: "HOUSE 5", size: "295x295", class: "img-polaroid"), '/images/house 5.jpg', target: "_blank" %></p>
        
      <p style="text-align:center;"><%= link_to image_tag("house 6.jpg", alt: "HOUSE 6", size: "240x240", class: "img-polaroid"), '/images/house 6.jpg', target: "_blank" %> <%= link_to image_tag("house 7.jpg", alt: "HOUSE 7", size: "234x234", class: "img-polaroid"), '/images/house 7.jpg', target: "_blank" %> <%= link_to image_tag("wall.jpg", alt: "WALL", size: "248x248", class: "img-polaroid"), '/images/wall.jpg', target: "_blank" %></p>
        
      <HR NOSHADE WIDTH="100%">
      <p> </p>
      <p align="center"><b>Утепление/теплоизоляция пеноизолом</b></p>

      <p style="text-align:center;"><%= link_to image_tag("pi 1.jpg", alt: "PI 1", size: "250x250", class: "img-polaroid"), '/images/pi 1.jpg', target: "_blank" %> <%= link_to image_tag("pi 2.jpg", alt: "PI 2", size: "250x250", class: "img-polaroid"), '/images/pi 2.jpg', target: "_blank" %></p>

      <HR NOSHADE WIDTH="100%">
      <p align="center"><b>Утепление/теплоизоляция пенополиуретаном</b></p>
      <p> </p>

      <p style="text-align:center;"><%= link_to image_tag("ppu 1.jpg", alt: "PPU 1", size: "250x250", class: "img-polaroid"), '/images/ppu 1.jpg', target: "_blank" %> <%= link_to image_tag("ppu 2.jpg", alt: "PPU 2", size: "250x250", class: "img-polaroid"), '/images/ppu 2.jpg', target: "_blank" %> <%= link_to image_tag("ppu 3.jpg", alt: "PPU 3", size: "250x250", class: "img-polaroid"), '/images/ppu 3.jpg', target: "_blank" %></p>
      <p style="text-align:center;"><%= link_to image_tag("oil_box.jpg", alt: "OIL_BOX", size: "350x350", class: "img-polaroid"), '/images/oil_box.jpg', target: "_blank" %></p>
    
    </div>
  </div>
</div>