<% provide(:title, 'Фотографии выполненных работ') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, '') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
      
      <div class="alert alert-block alert-info">
        <strong><span class="label label-info">Информация</span></strong> Для просмотра фотографии в увеличенном варианте кликните на изображение.
      </div>
      
      <p align="justify" style="font-size: 14px;">В данном разделе представляем Вашему вниманию фотографии наших работ. Фотоматериалы на странице по мере необходимости обновляются.</p>
      
      <p align="center"><b>Фасадные термопанели (клинкерная плитка и пенополиуретан)</b></p>

      <% if Rails.env.development? %>
        
        <p style="text-align:center;"><%= link_to image_tag("house 1.jpg", alt: "HOUSE 1", size: "250x250", class: "img-polaroid"), '/assets/house 1.jpg' %> <%= link_to image_tag("house 2.jpg", alt: "HOUSE 2", size: "270x270", class: "img-polaroid"), '/assets/house 2.jpg' %> <%= link_to image_tag("house 3.jpg", alt: "HOUSE 3", size: "254x254", class: "img-polaroid"), '/assets/house 3.jpg' %></p>
        
        <p style="text-align:center;"><%= link_to image_tag("house 4.jpg", alt: "HOUSE 4", size: "340x340", class: "img-polaroid"), '/assets/house 4.jpg' %> <%= link_to image_tag("house 5.jpg", alt: "HOUSE 5", size: "295x295", class: "img-polaroid"), '/assets/house 5.jpg' %></p>
        
        <p style="text-align:center;"><%= link_to image_tag("house 6.jpg", alt: "HOUSE 6", size: "240x240", class: "img-polaroid"), '/assets/house 6.jpg' %> <%= link_to image_tag("house 7.jpg", alt: "HOUSE 7", size: "234x234", class: "img-polaroid"), '/assets/house 7.jpg' %> <%= link_to image_tag("wall.jpg", alt: "WALL", size: "248x248", class: "img-polaroid"), '/assets/wall.jpg' %></p>
        
        <HR NOSHADE WIDTH="100%" SIZE="3">
        <p> </p>
        <p align="center"><b>Утепление/теплоизоляция с помощью пеноизола</b></p>

        <p style="text-align:center;"><%= link_to image_tag("pi 1.jpg", alt: "PI 1", size: "250x250", class: "img-polaroid"), '/assets/pi 1.jpg' %> <%= link_to image_tag("pi 2.jpg", alt: "PI 2", size: "250x250", class: "img-polaroid"), '/assets/pi 2.jpg' %></p>

        <HR NOSHADE WIDTH="100%" SIZE="3">
        <p align="center"><b>Утепление/теплоизоляция с помощью пенополиуретана</b></p>
        <p> </p>

        <p style="text-align:center;"><%= link_to image_tag("ppu 1.jpg", alt: "PPU 1", size: "250x250", class: "img-polaroid"), '/assets/ppu 1.jpg' %> <%= link_to image_tag("ppu 2.jpg", alt: "PPU 2", size: "250x250", class: "img-polaroid"), '/assets/ppu 2.jpg' %> <%= link_to image_tag("ppu 3.jpg", alt: "PPU 3", size: "250x250", class: "img-polaroid"), '/assets/ppu 3.jpg' %></p>
        <p style="text-align:center;"><%= link_to image_tag("oil_box.jpg", alt: "OIL_BOX", size: "350x350", class: "img-polaroid"), '/assets/oil_box.jpg' %></p>
     
     <% else %>

        <p style="text-align:center;"><%= link_to image_tag("house 1.jpg", alt: "HOUSE 1", size: "250x250", class: "img-polaroid"), '/assets/house 1-2e98ec0c8d01c199d83f4374211fbce4.jpg' %> <%= link_to image_tag("house 2.jpg", alt: "HOUSE 2", size: "270x270", class: "img-polaroid"), '/assets/house 2-caef354368e23d63e1f33682bc2a2cbb.jpg' %> <%= link_to image_tag("house 3.jpg", alt: "HOUSE 3", size: "254x254", class: "img-polaroid"), '/assets/house 3-760ccb73cfdd7be3ce22cb4a6189b70e.jpg' %></p>
        
        <p style="text-align:center;"><%= link_to image_tag("house 4.jpg", alt: "HOUSE 4", size: "340x340", class: "img-polaroid"), '/assets/house 4-a711254ba0a84b4d874b26870fe60a3a.jpg' %> <%= link_to image_tag("house 5.jpg", alt: "HOUSE 5", size: "295x295", class: "img-polaroid"), '/assets/house 5-36b079e6564901d03eb1609c2dd78fb2.jpg' %></p>
        
        <p style="text-align:center;"><%= link_to image_tag("house 6.jpg", alt: "HOUSE 6", size: "240x240", class: "img-polaroid"), '/assets/house 6-fd67d56701754d9a319bdd62ac5ee598.jpg' %> <%= link_to image_tag("house 7.jpg", alt: "HOUSE 7", size: "234x234", class: "img-polaroid"), '/assets/house 7-846ee9751cea68b8753cfd91049138b6.jpg' %> <%= link_to image_tag("wall.jpg", alt: "WALL", size: "248x248", class: "img-polaroid"), '/assets/wall-817d13cee110f3c24b9118e340558d8a.jpg' %></p>
        
        <p align="center"><b>Утепление с помощью пеноизола</b></p>

        <p style="text-align:center;"><%= link_to image_tag("pi 1.jpg", alt: "PI 1", size: "250x250", class: "img-polaroid"), '/assets/pi 1-c41d5afe2cfe78a8c18e58e080123916.jpg' %> <%= link_to image_tag("pi 2.jpg", alt: "PI 2", size: "250x250", class: "img-polaroid"), '/assets/pi 2-1517f7c55bc26d00630e75c60f535aa6.jpg' %></p>

        <p align="center"><b>Утепление, теплоизоляция с помощью пенополиуретана</b></p>

        <p style="text-align:center;"><%= link_to image_tag("ppu 1.jpg", alt: "PPU 1", size: "250x250", class: "img-polaroid"), '/assets/ppu 1-1b6247d4e09fc66a595c25197c015f4b.jpg' %> <%= link_to image_tag("ppu 2.jpg", alt: "PPU 2", size: "250x250", class: "img-polaroid"), '/assets/ppu 2-fea88521689e118c885a96905622cf51.jpg' %> <%= link_to image_tag("ppu 3.jpg", alt: "PPU 3", size: "250x250", class: "img-polaroid"), '/assets/ppu 3-6007a35b3c5776ed67e07d755645ed15.jpg' %></p>
        <p style="text-align:center;"><%= link_to image_tag("oil_box.jpg", alt: "OIL_BOX", size: "350x350", class: "img-polaroid"), '/assets/oil_box-e8a4543016d19592fb291565d6100e16.jpg' %></p>

      <% end %>

    </div>
  </div>
</div>