<% provide(:title, 'Утепление дома, фасадные термопанели, теплоизоляция') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Наша компания занимается производством и монтажом фасадных термопанелей с клинкерной плиткой, а также СИП панелей, предоставляет услуги по утеплению домов и теплоизоляции сооружений с применением пенополиуретана и пеноизола') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="page-header">
      <h1>Утепление дома, фасадные термопанели, СИП панели, теплоизоляция</h1>
    </div>

    <div class="well">
     
      <p align="justify" style="font-size: 14px; text-indent: 2em;"><%= image_tag("uteplenie1.jpg", alt: "ECOLOGY", size: "100X100", class: "img-rounded rightimg") %>Современному человеку по воле судьбы приходится задумываться о многих аспектах жизни. Их предостаточно на сегодняшний день. Одним из важных является жилье, причем не просто какое-то строение, а жилье соответствующее человеческим условиям, говоря простым языком. Что требуется от нашего жилища? Ответ прост: оно должно быть сухим, теплым зимой и прохладным летом. Не секрет, что эти потребности характерны для большей части жителей России. Поэтому люди постоянно находятся в поиске решений этих задач. Каждый человек находит для себя что-то свое. Благо современные технологии ныне шагнули далеко. Существует много способов сделать свой дом комфортнее и в определенной степени безопаснее. Мы предалгаем адаптивные решения утепления и теплоизоляции под каждое отдельное строение без изменения конструкции.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Наша компания занимается <b>производством и монтажом <%= link_to "фасадных термопанелей с клинкерной плиткой", termopanel_path %></b>, а также <b><%= link_to "СИП панелей", sipanel_path %></b>, предоставляет <b>услуги по утеплению домов и теплоизоляции сооружений с применением <%= link_to "пенополиуретана", ppu_path %> и <%= link_to "пеноизола", pi_path %></b>. Отлаженное собственное производство позволяет поддерживать качество выпускаемой продукции на должном уровне, что гарантирует ее эффективность в течение длительного срока службы. Наши специалисты при необходимости могут оказать консультационные услуги выехав к клиенту. Накопленный опыт позволяет реализовывать желаемые потребности заказчиков как можно точнее.</p>
      
      <div class="information">
        <p align="justify" style="font-size: 14px; text-indent: 2em;">Основные группы объектов, на которых выполняются работы:</p>
        <ul style="padding: 0; margin-left: 7%;" class="itemlist">
          <%= image_tag("stroitel.png", class: "rightimg") %>
          <li style="margin: 3px;">частные дома различной этажности;</li>
          <li style="margin: 3px;">офисные здания;</li>
          <li style="margin: 3px;">производственные помещения;</li>
          <li style="margin: 3px;">технические сооружения и конструкции;</li>
        </ul>
        <p align="justify" style="font-size: 14px; text-indent: 2em;">Основные группы работ, которые можем Вам предложить:</p>
        <ul style="padding: 0; margin-left: 7%;" class="itemlist">
          <li style="margin: 3px;">монтаж фасадных термопанелей;</li>
          <li style="margin: 3px;">монтаж СИП панелей;</li>
          <li style="margin: 3px;">напыление жесткого пенополиуретана (утепление/теплоизоляция);</li>
          <li style="margin: 3px;">заливка пеноизола (утепление/теплоизоляция);</li>
        </ul>
        
        <p align="justify" style="font-size: 14px; text-indent: 2em;">Мы сотрудничаем с физическими и юридическими лицами.</p>
      </div>

      <div class="information">
        <p align="justify" style="font-size: 14px; text-indent: 2em;">Осуществляем доставку в регионы:</p>
        <ul style="padding: 0; margin-left: 7%;" class="itemlist">
          <li style="margin: 3px;">Пермский край;</li>
          <li style="margin: 3px;">Татарстан;</li>
          <li style="margin: 3px;">Башкортостан;</li>
          <li style="margin: 3px;">Кировская область.</li>
        </ul>
      </div>
                 
    </div>
  </div>
</div>


 