<% provide(:title, 'Клинкерная плитка: описание и фото') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Благодаря своим повышенным эксплуатационным показателям клинкерная плитка стала приобретать широкую популярность. Остальные аналогичные материалы очень сильно уступают ей по многим характеристикам.') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
      
      <h1>Клинкерная плитка: описание и фото</h1>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Благодаря своим повышенным эксплуатационным показателям клинкерная плитка стала приобретать широкую популярность. Остальные аналогичные материалы очень сильно уступают ей по многим характеристикам. Поскольку она относится к категории малопористых материалов, то ее можно применять независимо от климатических условий. Данная плитка превосходно переносит как жару, так и сильный холод, что, в свою очередь, доказывает ее высокую прочность.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">В дополнении ко всему, данная разновидность плитки очень стойко переносит воздействие таких агрессивных растворов, как щелочи или кислоты. Строение, облицованное таким материалом, как правило, отличается повышенной надежностью. Что касается области использования клинкерной плитки, то она может применяться не только при наружной, но и при внутренней отделке.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Все свои положительные показатели клинкерная плитка приобрела за счет особого способа производства. В ходе ее изготовления применяют только экологичную глину, в которую дополнительно подмешивают красящие пигменты и специальные плавители. Затем, после формовки плитка подвергается обжигу при температуре, превышающей 1000 градусов Цельсия. Ее монолитность образуется благодаря спеканию частиц глины между собой.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">В настоящий момент у клинкерной плитки, наряду с ее очень высокой прочностью, достаточно сильно ценится и ее эстетичность. Специальные технологии изготовления позволяют придавать плитке разнообразные конфигурации и формы. Наличие же очень большого разнообразия всевозможных цветовых оттенков дает возможность архитекторам и дизайнерам реализовывать различные идеи.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Всем тем, кто не имеет возможности потратить очень много средств на наружную отделку дома, идеально подойдет сравнительно недорогая клинкерная плитка, выполненная в виде имитации под кирпич. Подобная отделка не будет оказывать дополнительной нагрузки на фундамент и придаст фасаду безупречный вид на многие годы.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Предлагаем Вам ознакомиться с вариантами цветовой гаммы клинкерных плиток используемых нами при изготовлении термопанелей. Здесь представлена номенклатура плиток польских торговых марок <b>Cerrad</b> и <b>Paradyz</b>.</p>
      
      <div class="alert alert-block alert-info">
        <strong>Клинкерная плитка производства Cerrad</strong>
        <p style="font-size: 14px;">В настоящий момент доступны 15 цветовых оттенков плитки Cerrad. Размеры плитки 245x65x6,5 мм.</p>

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Аляска</th>
              <th>Бургонский плюс</th>
              <th>Бургонский плюс рустика</th>
              <th>Кантри бежевая плюс рустика</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/alyaska 1069.jpg", width: "100%", alt: "HOUSE 1", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/alyaska 1069.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/burgonskiy plus 2554.jpg", width: "100%", alt: "HOUSE 1", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/burgonskiy plus 2554.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/burgonskiy plus rustika 2585.jpg", width: "100%", alt: "HOUSE 1", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/burgonskiy plus rustika 2585.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/cantry bezhevaya plus rustika 2646.jpg", width: "100%", alt: "HOUSE 1", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/cantry bezhevaya plus rustika 2646.jpg', target: "_blank" %></td>
            </tr>
          </tbody>
        </table>

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Кантри вишня плюс</th>
              <th>Кантри вишня плюс рустика</th>
              <th>Колорадо</th>
              <th>Дакота</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/cantry vishnya plus 2684.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/cantry vishnya plus 2684.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/cantry vishnya plus rustika 2677.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/cantry vishnya plus rustika 2677.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/colorado 1618.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/colorado 1618.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/dakota 1823.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/dakota 1823.jpg', target: "_blank" %></td>
            </tr>
          </tbody>
        </table>

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Гоби рустика</th>
              <th>Индиана</th>
              <th>Коричневая глазурованная</th>
              <th>Красная</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/gobi rustika 6125.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/gobi rustika 6125.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/indiana 1656.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/indiana 1656.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/korichnevaya glazurovannaya 2462.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/korichnevaya glazurovannaya 2462.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/krasnaya 1526.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/krasnaya 1526.jpg', target: "_blank" %></td>
            </tr>
          </tbody>
        </table> 

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Медовая глазурованная</th>
              <th>Монтана</th>
              <th>Песочная рустика</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/medovaya glazurovannaya 1519.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/medovaya glazurovannaya 1519.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/montana 1625.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/montana 1625.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("cerrad/pesochnaya rustika 6040.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/images/cerrad/pesochnaya rustika 6040.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= image_tag("", width: "100%", style: "padding: 0px;") %></td>
            </tr>
          </tbody>
        </table>

      </div>

      <p> </p>

      <div class="alert alert-block alert-info">
        <strong>Клинкерная плитка производства Paradyz</strong>
        <p style="font-size: 14px;">В настоящий момент доступны 14 цветовых оттенков плитки Paradyz. Размеры плитки 245x65x7,4 мм.</p>

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Aquarius-Brown</th>
              <th>Cloud-Brown</th>
              <th>Cloud-Brown-Duro</th>
              <th>Cloud-Rosa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Aquarius-Brown.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Aquarius-Brown.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Cloud-Brown.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Cloud-Brown.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Cloud-Brown-Duro.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Cloud-Brown-Duro.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Cloud-Rosa.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Cloud-Rosa.jpg', target: "_blank" %></td>
            </tr>
          </tbody>
        </table>

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Cloud-Rosa-Duro</th>
              <th>Natural-Brown</th>
              <th>Natural-Brown-Duro</th>
              <th>Natural-Rosa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Cloud-Rosa-Duro.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Cloud-Rosa-Duro.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Natural-Brown.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Natural-Brown.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Natural-Brown-Duro.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Natural-Brown-Duro.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Natural-Rosa.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Natural-Rosa.jpg', target: "_blank" %></td>
            </tr>
          </tbody>
        </table>

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Natural-Rosa-Duro</th>
              <th>Semir-Beige</th>
              <th>Semir-Brown</th>
              <th>Semir-Grafit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Natural-Rosa-Duro.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Natural-Rosa-Duro.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Semir-Beige.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Semir-Beige.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Semir-Brown.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Semir-Brown.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Semir-Grafit.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Semir-Grafit.jpg', target: "_blank" %></td>
            </tr>
          </tbody>
        </table>

        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
          <thead>
            <tr>
              <th>Taurus-Brown</th>
              <th>Taurus-Rosa</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Taurus-Brown.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Taurus-Brown.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= link_to image_tag("paradyz/Taurus-Rosa.jpg", alt: "HOUSE 1", width: "100%", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/images/paradyz/Taurus-Rosa.jpg', target: "_blank" %></td>
              <td style="padding: 0 10px;"><%= image_tag("", width: "100%", style: "padding: 0px;") %></td>
              <td style="padding: 0 10px;"><%= image_tag("", width: "100%", style: "padding: 0px;") %></td>
            </tr>
          </tbody>
        </table>

      </div> 
     
    </div>
  </div>
</div>