<% provide(:title, 'Клинкерная плитка') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
      
      <p align="justify" style="font-size: 14px;">Предлагаем Вам ознакомиться с вариантами цветовой гаммы клинкерных плиток используемых нами при изготовлении термопанелей. Здесь представлена номенклатура плиток польских торговых марок <b>Cerrad</b> и <b>Paradyz</b>.</p>
      
      <% if Rails.env.development? %>

        <div class="alert alert-block alert-info">
          <strong>Клинкерная плитка производства Cerrad</strong>
          <p style="font-size: 14px;">В настоящий момент доступны 15 цветовых оттенков плитки Cerrad. Размеры плитки 245x65x6,5 мм.</p>

          <table>
            <thead>
              <tr>
                <th>Аляска</th>
                <th>Бургонский плюс</th>
                <th>Бургонский плюс рустика</th>
                <th>Кантри бежевая плюс рустика</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/alyaska 1069.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/alyaska 1069.jpg' %></td>
                <td><%= link_to image_tag("cerrad/burgonskiy plus 2554.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/burgonskiy plus 2554.jpg' %></td>
                <td><%= link_to image_tag("cerrad/burgonskiy plus rustika 2585.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/burgonskiy plus rustika 2585.jpg' %></td>
                <td><%= link_to image_tag("cerrad/cantry bezhevaya plus rustika 2646.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/cantry bezhevaya plus rustika 2646.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Кантри вишня плюс</th>
                <th>Кантри вишня плюс рустика</th>
                <th>Колорадо</th>
                <th>Дакота</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/cantry vishnya plus 2684.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/cantry vishnya plus 2684.jpg' %></td>
                <td><%= link_to image_tag("cerrad/cantry vishnya plus rustika 2677.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/cantry vishnya plus rustika 2677.jpg' %></td>
                <td><%= link_to image_tag("cerrad/colorado 1618.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/colorado 1618.jpg' %></td>
                <td><%= link_to image_tag("cerrad/dakota 1823.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/dakota 1823.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Гоби рустика</th>
                <th>Индиана</th>
                <th>Коричневая глазурованная</th>
                <th>Красная</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/gobi rustika 6125.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/gobi rustika 6125.jpg' %></td>
                <td><%= link_to image_tag("cerrad/indiana 1656.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/indiana 1656.jpg' %></td>
                <td><%= link_to image_tag("cerrad/korichnevaya glazurovannaya 2462.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/korichnevaya glazurovannaya 2462.jpg' %></td>
                <td><%= link_to image_tag("cerrad/krasnaya 1526.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/krasnaya 1526.jpg' %></td>
              </tr>
            </tbody>
          </table> 

          <table>
            <thead>
              <tr>
                <th>Медовая глазурованная</th>
                <th>Монтана</th>
                <th>Песочная рустика</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/medovaya glazurovannaya 1519.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/medovaya glazurovannaya 1519.jpg' %></td>
                <td><%= link_to image_tag("cerrad/montana 1625.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/montana 1625.jpg' %></td>
                <td><%= link_to image_tag("cerrad/pesochnaya rustika 6040.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/pesochnaya rustika 6040.jpg' %></td>
                <td><%= image_tag("", size: "250x250", style: "padding: 0px;") %></td>
              </tr>
            </tbody>
          </table>

        </div>

        <p> </p>

        <div class="alert alert-block alert-info">
          <strong>Клинкерная плитка производства Paradyz</strong>
          <p style="font-size: 14px;">В настоящий момент доступны 14 цветовых оттенков плитки Paradyz. Размеры плитки 245x65x7,4 мм.</p>

          <table>
            <thead>
              <tr>
                <th>Aquarius-Brown</th>
                <th>Cloud-Brown</th>
                <th>Cloud-Brown-Duro</th>
                <th>Cloud-Rosa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Aquarius-Brown.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Aquarius-Brown.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Cloud-Brown.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Brown.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Cloud-Brown-Duro.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Brown-Duro.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Cloud-Rosa.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Rosa.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Cloud-Rosa-Duro</th>
                <th>Natural-Brown</th>
                <th>Natural-Brown-Duro</th>
                <th>Natural-Rosa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Cloud-Rosa-Duro.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Rosa-Duro.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Natural-Brown.jpg", alt: "HOUSE 1", size: "272x272", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Brown.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Natural-Brown-Duro.jpg", alt: "HOUSE 1", size: "276x276", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Brown-Duro.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Natural-Rosa.jpg", alt: "HOUSE 1", size: "267x267", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Rosa.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Natural-Rosa-Duro</th>
                <th>Semir-Beige</th>
                <th>Semir-Brown</th>
                <th>Semir-Grafit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Natural-Rosa-Duro.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Rosa-Duro.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Semir-Beige.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Semir-Beige.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Semir-Brown.jpg", alt: "HOUSE 1", size: "260x260", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Semir-Brown.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Semir-Grafit.jpg", alt: "HOUSE 1", size: "254x254", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Semir-Grafit.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Taurus-Brown</th>
                <th>Taurus-Rosa</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Taurus-Brown.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Taurus-Brown.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Taurus-Rosa.jpg", alt: "HOUSE 1", size: "258x258", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Taurus-Rosa.jpg' %></td>
                <td><%= image_tag("", size: "250x250", style: "padding: 0px;") %></td>
                <td><%= image_tag("", size: "250x250", style: "padding: 0px;") %></td>
              </tr>
            </tbody>
          </table>

        </div> 
     
      <% else %>

        <div class="alert alert-block alert-success">
          <strong>Клинкерная плитка производства Cerrad</strong>
          <p>В настоящий момент доступны 15 цветовых оттенков плитки Cerrad. Размеры плитки 245x65x6,5 мм.</p>

          <table>
            <thead>
              <tr>
                <th>Аляска</th>
                <th>Бургонский плюс</th>
                <th>Бургонский плюс рустика</th>
                <th>Кантри бежевая плюс рустика</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/alyaska 1069.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/alyaska 1069-e61fca634897a496875530908caf3b43.jpg' %></td>
                <td><%= link_to image_tag("cerrad/burgonskiy plus 2554.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/burgonskiy plus 2554-00f870964e6efc10cd4e362677cd592b.jpg' %></td>
                <td><%= link_to image_tag("cerrad/burgonskiy plus rustika 2585.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/burgonskiy plus rustika 2585-1f9244312d3527d44f3bb3e1703d14a3.jpg' %></td>
                <td><%= link_to image_tag("cerrad/cantry bezhevaya plus rustika 2646.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/cantry bezhevaya plus rustika 2646-13547f2371a2c6d123ab34dc9cc65722.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Кантри вишня плюс</th>
                <th>Кантри вишня плюс рустика</th>
                <th>Колорадо</th>
                <th>Дакота</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/cantry vishnya plus 2684.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/cantry vishnya plus 2684-f2bc4df9c171e5bf9bd812458f448478.jpg' %></td>
                <td><%= link_to image_tag("cerrad/cantry vishnya plus rustika 2677.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/cantry vishnya plus rustika 2677-3bfb3e04d7b90f29f76e4cb14ab3fef6.jpg' %></td>
                <td><%= link_to image_tag("cerrad/colorado 1618.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/colorado 1618-676f39b22970b3b5d96262f77cba5f68.jpg' %></td>
                <td><%= link_to image_tag("cerrad/dakota 1823.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/dakota 1823-35db87f155d62742e0b50630c0335fe4.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Гоби рустика</th>
                <th>Индиана</th>
                <th>Коричневая глазурованная</th>
                <th>Красная</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/gobi rustika 6125.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/gobi rustika 6125-657268532026e3dfeeeefc09d856195e.jpg' %></td>
                <td><%= link_to image_tag("cerrad/indiana 1656.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/indiana 1656-042ab099544ad72868cb10f7a5832146.jpg' %></td>
                <td><%= link_to image_tag("cerrad/korichnevaya glazurovannaya 2462.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/korichnevaya glazurovannaya 2462-19cb54164bd9b49b31a0e23e5e3403f7.jpg' %></td>
                <td><%= link_to image_tag("cerrad/krasnaya 1526.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/krasnaya 1526-22d3057556f879195190e7eb869e24ce.jpg' %></td>
              </tr>
            </tbody>
          </table> 

          <table>
            <thead>
              <tr>
                <th>Медовая глазурованная</th>
                <th>Монтана</th>
                <th>Песочная рустика</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("cerrad/medovaya glazurovannaya 1519.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/medovaya glazurovannaya 1519-5bc84d7801b071aa5a7eb8c56fb36e7f.jpg' %></td>
                <td><%= link_to image_tag("cerrad/montana 1625.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/montana 1625-db67285259e7bb50dabb84bed9ee5c5f.jpg' %></td>
                <td><%= link_to image_tag("cerrad/pesochnaya rustika 6040.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Cerrad", class: "img-polaroid", style: "padding: 1px;"), '/assets/cerrad/pesochnaya rustika 6040-74d50c162906ab353025e04ae0579abf.jpg' %></td>
                <td><%= image_tag("", size: "250x250", style: "padding: 0px;") %></td>
              </tr>
            </tbody>
          </table>

        </div>

        <p> </p>

        <div class="alert alert-block alert-info">
          <strong>Клинкерная плитка производства Paradyz</strong>
          <p>В настоящий момент доступны 14 цветовых оттенков плитки Paradyz. Размеры плитки 245x65x7,4 мм.</p>

          <table>
            <thead>
              <tr>
                <th>Aquarius-Brown</th>
                <th>Cloud-Brown</th>
                <th>Cloud-Brown-Duro</th>
                <th>Cloud-Rosa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Aquarius-Brown.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Aquarius-Brown-9c15781307908435870e0093c2239b0b.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Cloud-Brown.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Brown-b518c03d23680f1e8a86f5a9d8641c05.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Cloud-Brown-Duro.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Brown-Duro-f457fe3b99c493db3c8bb96fec2a73d7.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Cloud-Rosa.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Rosa-8049ac23b69c479fa678dab38060bc75.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Cloud-Rosa-Duro</th>
                <th>Natural-Brown</th>
                <th>Natural-Brown-Duro</th>
                <th>Natural-Rosa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Cloud-Rosa-Duro.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Cloud-Rosa-Duro-e7196c925a554f6dd8788d9319c68e9f.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Natural-Brown.jpg", alt: "HOUSE 1", size: "272x272", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Brown-b632a495d68906e6faf9555c07bc1c9b.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Natural-Brown-Duro.jpg", alt: "HOUSE 1", size: "276x276", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Brown-Duro-64e2a6e8c7ec5ae4747a31e7858ce66c.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Natural-Rosa.jpg", alt: "HOUSE 1", size: "267x267", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Rosa-f3211346903d7e12eee64427212c8607.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Natural-Rosa-Duro</th>
                <th>Semir-Beige</th>
                <th>Semir-Brown</th>
                <th>Semir-Grafit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Natural-Rosa-Duro.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Natural-Rosa-Duro-4407d15e728999454600f0850d82fa5f.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Semir-Beige.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Semir-Beige-f76d70068248908a525003c64a8d750d.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Semir-Brown.jpg", alt: "HOUSE 1", size: "260x260", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Semir-Brown-eab07f94fe925ccb1185b559d4017a14.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Semir-Grafit.jpg", alt: "HOUSE 1", size: "254x254", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Semir-Grafit-10df10cedad2fc3a246eae4d392a071d.jpg' %></td>
              </tr>
            </tbody>
          </table>

          <table>
            <thead>
              <tr>
                <th>Taurus-Brown</th>
                <th>Taurus-Rosa</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to image_tag("paradyz/Taurus-Brown.jpg", alt: "HOUSE 1", size: "250x250", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Taurus-Brown-bd694da685d41739776a6c2ff65e9ab1.jpg' %></td>
                <td><%= link_to image_tag("paradyz/Taurus-Rosa.jpg", alt: "HOUSE 1", size: "258x258", title: "плитка Paradyz", class: "img-polaroid", style: "padding: 1px;"), '/assets/paradyz/Taurus-Rosa-fae1b654e53817ffe5b2ddf3c593d7d3.jpg' %></td>
                <td><%= image_tag("", size: "250x250", style: "padding: 0px;") %></td>
                <td><%= image_tag("", size: "250x250", style: "padding: 0px;") %></td>
              </tr>
            </tbody>
          </table>

        </div>
        
      <% end %>

    </div>
  </div>
</div>