<% provide(:title, 'Наши объекты') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, '') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="raised">
      <h1>Фотографии наших объектов</h1>
      <div class="alert alert-block alert-info" style="margin-bottom:0;">
        <strong><span class="label label-info">Информация</span></strong> Для просмотра фотографии в увеличенном варианте кликните на изображение.
      </div>
    </div>

    <HR NOSHADE WIDTH="100%" style="margin-bottom:5px;">

    <div class="raised">      
      <div class='nc-title'><h2><span>Фасадные термопанели с клинкерной плиткой и пенополиуретаном</span></h2></div>
      <div class='nc-title'><h3><span>Частные дома в г. Можга (6 фото)</span></h3></div>
      
      <div id="owl-example" class="owl-carousel owl-theme">
        
        <div class="item"><%= link_to image_tag("mozhga1.jpg", alt: "HOUSE", width: "99%", class: "img-polaroid"), '/images/mozhga1.jpg', target: "_blank" %></div>
        <div class="item"><%= link_to image_tag("mozhga2.jpg", alt: "HOUSE", width: "99%", class: "img-polaroid"), '/images/mozhga2.jpg', target: "_blank" %></div>
        <div class="item"><%= link_to image_tag("mozhga3.jpg", alt: "HOUSE", width: "99%", class: "img-polaroid"), '/images/mozhga3.jpg', target: "_blank" %></div>
        <div class="item"><%= link_to image_tag("mozhga4.jpg", alt: "HOUSE", width: "99%", class: "img-polaroid"), '/images/mozhga4.jpg', target: "_blank" %></div>
        <div class="item"><%= link_to image_tag("mozhga5.jpg", alt: "HOUSE", width: "99%", class: "img-polaroid"), '/images/mozhga5.jpg', target: "_blank" %></div>
        <div class="item"><%= link_to image_tag("mozhga6.jpg", alt: "HOUSE", width: "99%", class: "img-polaroid"), '/images/mozhga6.jpg', target: "_blank" %></div>        
      </div>

      <script type="text/javascript">
        $(document).ready(function() {

          $("#owl-example").owlCarousel({
            items : 3,
            navigation: true,
            navigationText: [
            "<i class='icon-chevron-left icon-white'></i>",
            "<i class='icon-chevron-right icon-white'></i>"
            ],
            itemsDesktop: [1199,3],
            itemsDesktopSmall: [979,2],
            itemsTablet: [768,2]
          });         

        });
      </script>
    </div>    
    
  </div>
</div>