<% provide(:title, 'Утепление и теплоизоляция с применением пенополиуретана') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Одной из современных технологий по утеплению зданий является утепление при помощи пенополиуретана (ППУ), путем его напыления на утепляемую поверхность.') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="page-header">
      <h1>Утепление и теплоизоляция с применением пенополиуретана</h1>
    </div>

    <div class="well">
     
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Одной из современных технологий по утеплению зданий является <b>утепление при помощи пенополиуретана (ППУ)</b>, путем его напыления на утепляемую поверхность. Благодаря вспениванию тонкий слой пенополиуретана наносится на поверхность, увеличиваясь при этом в объеме более, чем на два порядка. При этом образуется сплошной слой теплоизоляции, имеющий низкий коэффициент теплопроводности. Дополнительным преимуществом подобной теплоизоляции является возможность заполнить материалом все щели, неровности на поверхности.</p>
    
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Благодаря распылению материала данный способ позволяет надежно <b>теплоизолировать</b> поверхности любой сложной формы.</p>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Обладая превосходными адгезионными свойствами <b>напыляемый пенополиуретан</b> хорошо держится на поверхности из разнообразных материалов. При помощи пенополиуретана можно утеплять бетонные фундаменты, стены и кровли зданий, межэтажные и чердачные перекрытия, трубопроводы, технически емкости. При этом области применения напыляемого пенополиуретана гораздо разнообразнее. Для примера, при теплоизоляции инженерных коммуникаций загородного дома увеличивается надежность работы его систем жизнеобеспечения. Эта технология, известная под названием «Экотермикс», получила в наше время достаточно широкое распространение.</p>
      <p align="center"><%= image_tag("napylenie_ppu.jpg", alt: "ECOLOGY", size: "280x280", class: "img-rounded") %> <%= image_tag("napylenie_ppu1.jpg", alt: "ECOLOGY", size: "280x280", class: "img-rounded") %></p>
      <p align="center"><%= image_tag("napylenie_ppu3.jpg", alt: "ECOLOGY", size: "480x480", class: "img-rounded") %></p>
      <p align="center"><%= image_tag("napylenie_ppu4.jpg", alt: "ECOLOGY", size: "480x480", class: "img-rounded") %></p>
    
    </div>
  </div>
</div>