<% provide(:title, 'Цены на термопанели, утепление') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Цены на фасадные термопанели, утепление пенополиуретаном и пеноизолом') %>

<% provide(:cena_sht40, '1250') %>
<% provide(:cena_kvm40, '2015') %>
<% provide(:cena_sht60, '1300') %>
<% provide(:cena_kvm60, '2100') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="page-header">
      <h1>Цены на фасадные термопанели, утепление пенополиуретаном и пеноизолом</h1>
    </div>

    <div class="well">
      
      <div class="alert alert-block alert-error">
        <strong><span class="label label-important">Справка</span></strong> Обновление цен от 01.04.2014
      </div>

      <div class="alert alert-block alert-info">
        <strong><span class="label label-info">Информация</span></strong> Выезд на замеры наших специалистов в радиусе 60 км (включая Ижевск) бесплатно
      </div>

      <HR NOSHADE WIDTH="100%">
      <p align="center"><b>Заливка пеноизола - 3000 руб/куб.м</b></p>
      <p> </p>
      <HR NOSHADE WIDTH="100%">

      <p> </p>
      <p align="center"><b>Напыление пенополиуретана</b></p>
      <p> </p>

      <table class="features-table">
        <thead>
            <tr>
                <td class="grey" style="text-align: center;">Толщина слоя пенополиуретана, см</td>
                <td class="green">Цена, руб/кв.м</td>                
            </tr>
        </thead>
          
        <tbody>
            <tr>
                <td class="grey" style="text-align: center;">2</td>
                <td class="green">300</td>                
            </tr>
            <tr>
                <td class="grey" style="text-align: center;">3</td>
                <td class="green">450</td>                
            </tr>
            <tr>
                <td class="grey" style="text-align: center;">4</td>
                <td class="green">600</td>                
            </tr>
            <tr>
                <td class="grey" style="text-align: center;">5</td>
                <td class="green">750</td>                
            </tr>
            <tr>
                <td class="grey" style="text-align: center;">6</td>
                <td class="green">900</td>                
            </tr>
            <tr>
                <td class="grey" style="text-align: center;">7</td>
                <td class="green">1050</td>               
            </tr>                     
        </tbody>

        <tfoot>
          <tr>
            <td class="grey" style="text-align: center;">8</td>
            <td class="green">1200</td>            
          </tr>
        </tfoot>
      </table>


      <p> </p>
      <p style="font-size: 14px; text-indent: 2em;">Работы на высоте более 4 метров – плюс 10%.</p>
      <p style="font-size: 14px; text-indent: 2em;">Объекты с площадью более 100 кв.м при толщине напыления 5 см – скидка до 10%.</p>
      <p> </p>
      <HR NOSHADE WIDTH="100%">
      <p> </p>
      <p align="center"><b>Фасадные термопанели (включая стоимость <%= link_to "клинкерной плитки", klinker_path %> и пенополиуретана)</b></p>
            
      <table class="features-table">
        <thead>
            <tr>
              <td class="grey" colspan="1" rowspan="2" style="text-align:center">Наименование клинкерной плитки</td>
              <td class="green" colspan="2" rowspan="1" style="text-align:center;border-bottom: 0px;"><strong>Толщина слоя пенополиуретана 40 мм</strong></td>
              <td class="green" colspan="2" rowspan="1" style="text-align:center;border-bottom: 0px;"><strong>Толщина слоя пенополиуретана 60 мм</strong></td>
            </tr>
            <tr>
              <td class="green noradius" style="text-align:center">руб/шт</td>
              <td class="green noradius" style="text-align:center">руб/кв.м</td>
              <td class="green noradius" style="text-align:center">руб/шт</td>
              <td class="green noradius" style="text-align:center">руб/кв.м</td>
            </tr>
        </thead>
          
        <tbody>
            <tr>
              <td colspan="5" style="text-align:center;border-left: 1px solid #cdcdcd;">Плитка торговой марки Cerrad (Польша)<%= link_to " выбор цвета клинкерной плитки", klinker_path %></td>
            </tr>            
            <tr>
            <td class="grey">Аляска</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Медовая глазурованная</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Красная</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Колорадо</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <td class="grey">Монтана</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Индиана</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Дакота</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Коричневая глазурованная</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Бургонский плюс</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Бургонский плюс рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Кантри бежевая плюс рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Кантри вишня плюс рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Кантри вишня плюс</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Песочная рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Гоби рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Аризона рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Атакама рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Графитовая</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Калахари рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Кремовая рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Неро рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Неро</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Невада рустика</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Серая</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Тара</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
            <td class="grey">Зеленая</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>

            <tr>
              <td colspan="5" style="text-align:center;border-left: 1px solid #cdcdcd;">Плитка торговой марки Paradyz (Польша)<%= link_to " выбор цвета клинкерной плитки ", klinker_path %></td>
            </tr>
            <tr>
              <td class="grey">Aquarius-Brown</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Cloud-Brown</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Cloud-Brown-Duro</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Cloud-Rosa</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Cloud-Rosa-Duro</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Natural-Brown</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Natural-Brown-Duro</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Natural-Rosa</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Natural-Rosa-Duro</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Semir-Beige</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Semir-Brown</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Semir-Grafit</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
            <tr>
              <td class="grey">Taurus-Brown</td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
              <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
            </tr>
                              
        </tbody>

        <tfoot>
          <tr>
            <td class="grey" style="text-align:left;">Taurus-Rosa</td>
            <td class="green" style="text-align:center"><%= yield(:cena_sht40) %></td>
            <td class="green" style="text-align:center"><%= yield(:cena_kvm40) %></td>
            <td class="green" style="text-align:center"><%= yield(:cena_sht60) %></td>
            <td class="green" style="text-align:center"><%= yield(:cena_kvm60) %></td>
          </tr>
        </tfoot>
      </table>


      <p> </p>
      <p style="font-size: 14px; text-indent: 2em;">Стоимость работ по монтажу термопанелей - 600 руб/кв.м</p>
      <p style="font-size: 14px; text-indent: 2em;">Стоимость расходных материалов и вспомогательных инструментов (например, крепеж, затирка, шприцы-нагнетатели) определяется по мере выполнения работ.</p>

      <div class="alert alert-block alert-success">
        <strong><span class="label label-success">Рекомендация</span></strong> Расходные материалы и вспомогательные инструменты рекомендуем приобретать у нас в целях избежания конструктивных и технологических несоответствий в процессе монтажа
      </div>
      
    </div>
  </div>
</div>