<% provide(:title, 'Клинкерные термопанели') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <h3 align="center">Фасадные термопанели ТермоСип</h3>
      <p style="font-size: 14px;">Наша компания занимается производством клинкерных термопанелей высокого качества по доступным ценам. Это достигается засчет следующих факторов:</p>
      <ul>
        <li>собственное производство с соблюдением всех технологических норм и правил</li>
        <li>использование технологичного и эффективного оборудования компании "<%= link_to "Современные строительные технологии", 'http://www.poliuretan.ru/' %>"</li>
        <li>отсутствие промежуточных звеньев между нами и потребителями</li>
        <li>клинкерная плитка от известных польских производителей Cerrad и Paradyz (<%= link_to "выбрать плитку", klinker_path %>)</li>
        <li>в роли теплоизоляционного материала используется пенополиуретан доказавший свою высокую эффективность</li>
        <li>сотрудничество непосредстенно с торговыми представителями и заводами-изготовителями</li>
      </ul>
      <p style="text-align:center;"><b>Конструктивная схема термопанели</b></p>

      <% if Rails.env.development? %>
        <p style="text-align:center;"><%= link_to image_tag("termopanel.jpg", alt: "termopanel", size: "750x750", class: "img-polaroid"), '/assets/termopanel.jpg' %></p>
      <% else %>
        <p style="text-align:center;"><%= link_to image_tag("termopanel.jpg", alt: "termopanel", size: "750x750", class: "img-polaroid"), '/assets/termopanel-9fd3e09e8fffb8c054569b4294e18a48.jpg' %></p>
      <% end %>
     
      <p style="font-size: 14px;">Размеры клинкерной плитки, мм: 245х65, толщина 6,5 или 7,4</p>
      <p style="font-size: 14px;">Толщина теплоизоляционного слоя пенополиуретана, мм: 40 или 60</p>

      <p align="center"><b>Технические характеристики термопанелей</b></p>
      <p> </p>

      <table align="center" border="1" cellpadding="5" cellspacing="1" style="font-family:times new roman;">
        <thead>
          <tr>
            <th scope="col">Характеристика</th>
            <th scope="col">Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:left">Масса одной термопанели, кг</td>
            <td style="text-align:center">9,5-11</td>
          </tr>
          <tr>
            <td style="text-align:left">Толщина слоя пенополиуретана, мм</td>
            <td style="text-align:center">40/60</td>
          </tr>
          <tr>
            <td style="text-align:left">Плотность пенополиуретана, кг/куб.м</td>
            <td style="text-align:center">48-52</td>
          </tr>
          <tr>
            <td style="text-align:left">Коэффициент теплопроводности, Вт/м °C</td>
            <td style="text-align:center">0,027</td>
          </tr>
          <tr>
            <td style="text-align:left">Коэффициент паропроницаемости, мг/(м*ч*Па)</td>
            <td style="text-align:center">0,05</td>
          </tr>
          <tr>
            <td style="text-align:left">Морозоустойчивость, циклов</td>
            <td style="text-align:center">не менее 150</td>
          </tr>
          <tr>
            <td style="text-align:left">Класс горючести</td>
            <td style="text-align:center">Г-1</td>
          </tr>
          <tr>
            <td style="text-align:left">Сцепление плиток с утеплителем, МПа</td>
            <td style="text-align:center">не менее 0,3</td>
          </tr>
          <tr>
            <td style="text-align:left">Влагопоглощение, %</td>
            <td style="text-align:center">не более 2-3</td>
          </tr>
          <tr>
            <td style="text-align:left">Предел прочности на изгиб, МПа</td>
            <td style="text-align:center">не менее 0,3</td>
          </tr>
          <tr>
            <td style="text-align:left">Предел прочности на сжатие (10% деформации), МПа</td>
            <td style="text-align:center">не менее 0,2</td>
          </tr>
          <tr>
            <td style="text-align:left">Температурный режим, °C</td>
            <td style="text-align:center">от -60 до +100</td>
          </tr>
          <tr>
            <td style="text-align:left">Воздействие микроорганизмов и агрессивных сред</td>
            <td style="text-align:center">устойчивы</td>
          </tr>
          <tr>
            <td style="text-align:left">Срок службы, лет</td>
            <td style="text-align:center">не менее 30</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>