<% provide(:title, 'Фасадные термопанели') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Купить фасадные термопанели довольно просто, обратившись, к нам, где Вам предложат широкий ассортимент изделий, различных как по теплотехническим характеристикам, так и по внешнему виду.') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
     
      <h1>Фасадные термопанели с клинкерной плиткой "ТермоСип"</h1>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Клинкерная плитка - прекрасный отделочный материал, долговечный, имеющий замечательный внешний вид и преображающий фасад любого здания буквально до неузнаваемости. Ах, если бы ей еще добавить теплотехнических свойств, цены бы не было такому фасадному облицовочному материалу! Почему не было бы? Цена есть, и вполне реальная! Ведь такой материал существует, и называется фасадные термопанели! Купить фасадные термопанели довольно просто, обратившись, к нам, где Вам предложат широкий ассортимент изделий, различных как по теплотехническим характеристикам, так и по внешнему виду. Судите сами: такая термопанель - конструкция из пенополиуретана и клинкерной плитки. Плитка уже уложена, осталось только закрепить панели на стену, и обеспечить герметичность швов между ними с помощью специальной затирки! То есть, налицо огромная экономия времени, а значит и средств на оплату работы отделочников. Однако, одними термопанелями при отделке фасадов обойтись довольно сложно. Поэтому производители предлагают дополнительные материалы: наружные углы и алюминиевые планки, существенно облегчающие монтаж термопанелей и обеспечивающие еще лучшую теплоизоляцию.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Монтаж фасадных термопанелей производится либо на обрешетку, либо, если позволяет плоскостность - непосредственно на фасад. Для этого используются различные материалы, подобрать которые Вам помогут наши опытные специалисты.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Почему стоит купить фасадные термопанели именно у нас? Дело в том, что сейчас на рынке представлены не только качественные фасадные термопанели. Казалось бы: что сложного в том, чтобы наклеить на плиту пенополиуретана клинкерную плитку? Но разницу в качестве вы поймете, как только начнете монтаж: качественные фасадные термопанели ложатся на фасад встык, в то время, как некачественные - с зазорами, ухудшающими теплотехнику стены. Еще хуже, если на соседних панелях оказывается разный шаг плитки: собрать красивый фасад из таких панелей просто нереально!</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Избежать всех тих неприятностей поможет одна небольшая житейская мудрость: нужно покупать проверенные материалы у проверенных продавцов. В этом смысле производственная компания "ТермоСип" - разумный выбор, позволяющий совместить доступную цену и достойное качество. Это достигается засчет следующих факторов:</p>

      <ul style="padding: 0; margin-left: 40px;">
        <li style="margin: 3px;">собственное производство с соблюдением всех технологических норм и правил</li>
        <li style="margin: 3px;">использование технологичного и эффективного оборудования компании "<%= link_to "Современные строительные технологии", 'http://www.poliuretan.ru/' %>"</li>
        <li style="margin: 3px;">отсутствие промежуточных звеньев между нами и потребителями</li>
        <li style="margin: 3px;">клинкерная плитка от известных польских производителей Cerrad и Paradyz (<%= link_to "выбрать плитку", klinker_path %>)</li>
        <li style="margin: 3px;">в роли теплоизоляционного материала используется пенополиуретан доказавший свою высокую эффективность</li>
        <li style="margin: 3px;">сотрудничество непосредстенно с торговыми представителями и заводами-изготовителями</li>
      </ul>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Сделайте покупку у нас, и вы поймете, почему наши клиенты остаются довольными!</p>
      
      <HR NOSHADE WIDTH="100%" SIZE="3">

      <p style="text-align:center;"><b>Фотографии термопанелей "ТермоСип"</b></p>

      <table align="center">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><%= link_to image_tag("termopaneli/tp1.jpg", alt: "TP 1", size: "266x266", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp1.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp2.jpg", alt: "TP 2", size: "264x264", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp2.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp3.jpg", alt: "TP 3", size: "270x270", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp3.jpg' %></td>            
          </tr>
        </tbody>
      </table>

      <table align="center">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><%= link_to image_tag("termopaneli/tp4.jpg", alt: "TP 4", size: "266x266", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp4.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp5.jpg", alt: "TP 5", size: "264x264", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp5.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp6.jpg", alt: "TP 6", size: "270x270", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp6.jpg' %></td>            
          </tr>
        </tbody>
      </table>

      <table align="center">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><%= link_to image_tag("termopaneli/tp7.jpg", alt: "TP 7", size: "266x266", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp7.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp8.jpg", alt: "TP 8", size: "264x264", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp8.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp9.jpg", alt: "TP 9", size: "264x264", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp9.jpg' %></td>            
          </tr>
        </tbody>
      </table>

      <table align="center">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><%= link_to image_tag("termopaneli/tp10.jpg", alt: "TP 10", size: "262x262", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp10.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp11.jpg", alt: "TP 11", size: "267x267", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp11.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp12.jpg", alt: "TP 12", size: "264x264", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp12.jpg' %></td>            
          </tr>
        </tbody>
      </table>

      <table align="center">
        <thead>
          <tr>
            <th></th>
            <th></th>          
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><%= link_to image_tag("termopaneli/tp13.jpg", alt: "TP 13", size: "265x265", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp13.jpg' %></td>
            <td><%= link_to image_tag("termopaneli/tp14.jpg", alt: "TP 14", size: "200x200", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp14.jpg' %></td>                  
          </tr>
        </tbody>
      </table>

      <HR NOSHADE WIDTH="100%" SIZE="3">

      <p style="text-align:center;"><b>Конструктивная схема термопанели</b></p>

      <p style="text-align:center;"><%= link_to image_tag("termopanel.jpg", alt: "termopanel", size: "750x750", class: "img-polaroid"), '/images/termopanel.jpg' %></p>
     
     
      <p style="font-size: 14px; text-indent: 2em;">Размеры <%= link_to "клинкерной плитки", klinker_path %>, мм: 245х65, толщина 6,5 или 7,4</p>
      <p style="font-size: 14px; text-indent: 2em;">Толщина слоя теплоизолятора (пенополиуретана), мм: 40 / 60</p>

      <p align="center"><b>Технические характеристики термопанелей</b></p>
      <p> </p>

      <table align="center" border="1" cellpadding="5" cellspacing="1" style="font-family:times new roman;">
        <thead>
          <tr>
            <th scope="col">Характеристика</th>
            <th scope="col">Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:left">Масса одной термопанели, кг</td>
            <td style="text-align:center">9,5-11</td>
          </tr>
          <tr>
            <td style="text-align:left">Толщина слоя пенополиуретана, мм</td>
            <td style="text-align:center">40/60</td>
          </tr>
          <tr>
            <td style="text-align:left">Плотность пенополиуретана, кг/куб.м</td>
            <td style="text-align:center">48-52</td>
          </tr>
          <tr>
            <td style="text-align:left">Коэффициент теплопроводности, Вт/м °C</td>
            <td style="text-align:center">0,027</td>
          </tr>
          <tr>
            <td style="text-align:left">Коэффициент паропроницаемости, мг/(м*ч*Па)</td>
            <td style="text-align:center">0,05</td>
          </tr>
          <tr>
            <td style="text-align:left">Морозостойкость, цикл</td>
            <td style="text-align:center">от 150</td>
          </tr>
          <tr>
            <td style="text-align:left">Класс горючести</td>
            <td style="text-align:center">Г-1</td>
          </tr>
          <tr>
            <td style="text-align:left">Прочность сцепления клинкерных плиток с пенополиуретаном, МПа</td>
            <td style="text-align:center">не менее 0,3</td>
          </tr>
          <tr>
            <td style="text-align:left">Водопоглощение, % от объема</td>
            <td style="text-align:center">не более 3</td>
          </tr>
          <tr>
            <td style="text-align:left">Разрушающее напряжение при изгибе, МПа</td>
            <td style="text-align:center">не менее 0,3</td>
          </tr>
          <tr>
            <td style="text-align:left">Разрушающее напряжение при сжатии, МПа</td>
            <td style="text-align:center">не менее 0,2</td>
          </tr>
          <tr>
            <td style="text-align:left">Температурный режим, °C</td>
            <td style="text-align:center">от -60 до +100</td>
          </tr>
          <tr>
            <td style="text-align:left">Воздействие микроорганизмов и агрессивных сред</td>
            <td style="text-align:center">не оказывает влияния</td>
          </tr>
          <tr>
            <td style="text-align:left">Срок службы, лет</td>
            <td style="text-align:center">не менее 30</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>