<% provide(:title, 'Фасадные термопанели') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Купить фасадные термопанели довольно просто, обратившись, к нам, где Вам предложат широкий ассортимент изделий, различных как по теплотехническим характеристикам, так и по внешнему виду.') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    
    <div class="page-header">
      <h1>Фасадные термопанели с клинкерной плиткой "ТермоСип"</h1>
    </div>

    <div class="well">
     
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Клинкерная плитка - прекрасный отделочный материал, долговечный, имеющий замечательный внешний вид и преображающий фасад любого здания буквально до неузнаваемости. Ах, если бы ей еще добавить теплотехнических свойств, цены бы не было такому фасадному облицовочному материалу! Почему не было бы? Цена есть, и вполне реальная! Ведь такой материал существует, и называется фасадные термопанели! Купить фасадные термопанели довольно просто, обратившись, к нам, где Вам предложат широкий ассортимент изделий, различных как по теплотехническим характеристикам, так и по внешнему виду. Судите сами: такая термопанель - конструкция из пенополиуретана и клинкерной плитки. Плитка уже уложена, осталось только закрепить панели на стену, и обеспечить герметичность швов между ними с помощью специальной затирки! То есть, налицо огромная экономия времени, а значит и средств на оплату работы отделочников. Однако, одними термопанелями при отделке фасадов обойтись довольно сложно. Поэтому производители предлагают дополнительные материалы: наружные углы и алюминиевые планки, существенно облегчающие монтаж термопанелей и обеспечивающие еще лучшую теплоизоляцию.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Монтаж фасадных термопанелей производится либо на обрешетку, либо, если позволяет плоскостность - непосредственно на фасад. Для этого используются различные материалы, подобрать которые Вам помогут наши опытные специалисты.</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;"><%= image_tag("fasad_panel.jpg", alt: "FASAD_PANEL", size: "50X50", class: "img-rounded rightimg") %>Почему стоит купить фасадные термопанели именно у нас? Дело в том, что сейчас на рынке представлены не только качественные фасадные термопанели. Казалось бы: что сложного в том, чтобы наклеить на плиту пенополиуретана клинкерную плитку? Но разницу в качестве вы поймете, как только начнете монтаж: качественные фасадные термопанели ложатся на фасад встык, в то время, как некачественные - с зазорами, ухудшающими теплотехнику стены. Еще хуже, если на соседних панелях оказывается разный шаг плитки: собрать красивый фасад из таких панелей просто нереально!</p>
      <p align="justify" style="font-size: 14px; text-indent: 2em;">Избежать всех тих неприятностей поможет одна небольшая житейская мудрость: нужно покупать проверенные материалы у проверенных продавцов. В этом смысле производственная компания "ТермоСип" - разумный выбор, позволяющий совместить доступную цену и достойное качество. Это достигается засчет следующих факторов:</p>

      <ul style="padding: 0; margin-left: 40px;" class="itemlist">
        <li style="margin: 3px;">собственное производство с соблюдением всех технологических норм и правил</li>
        <li style="margin: 3px;">использование технологичного и эффективного оборудования компании "<%= link_to "Новые строительные технологии", 'http://www.poliuretan.ru/' %>"</li>
        <li style="margin: 3px;">отсутствие промежуточных звеньев между нами и потребителями</li>
        <li style="margin: 3px;">клинкерная плитка от известных польских производителей Cerrad и Paradyz (<%= link_to "выбрать плитку", klinker_path %>)</li>
        <li style="margin: 3px;">в роли теплоизоляционного материала используется пенополиуретан доказавший свою высокую эффективность</li>
        <li style="margin: 3px;">сотрудничество непосредстенно с торговыми представителями и заводами-изготовителями</li>
      </ul>

      <p align="justify" style="font-size: 14px; text-indent: 2em;">Сделайте покупку у нас, и вы поймете, почему наши клиенты остаются довольными!</p>
      
      <HR NOSHADE WIDTH="100%" SIZE="3">

      <div class='nc-title'><h2><span>Фотографии термопанелей "ТермоСип"</span></h2></div>

      <div class="alert alert-block alert-info">
        <strong><span class="label label-info">Информация</span></strong> Для просмотра изображения в увеличенном варианте кликните на него.
      </div>

      <table align="center" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp1.jpg", alt: "TP 1", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp1.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp2.jpg", alt: "TP 2", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp2.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp3.jpg", alt: "TP 3", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp3.jpg', target: "_blank" %></td>      
          </tr>
        </tbody>
      </table>

      <table align="center" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp4.jpg", alt: "TP 4", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp4.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp5.jpg", alt: "TP 5", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp5.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp6.jpg", alt: "TP 6", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp6.jpg', target: "_blank" %></td>      
          </tr>
        </tbody>
      </table>

      <table align="center" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp7.jpg", alt: "TP 7", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp7.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp8.jpg", alt: "TP 8", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp8.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp9.jpg", alt: "TP 9", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp9.jpg', target: "_blank" %></td>      
          </tr>
        </tbody>
      </table>

      <table align="center" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr>
           <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp10.jpg", alt: "TP 10", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp10.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp11.jpg", alt: "TP 11", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp11.jpg', target: "_blank" %></td>
            <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp12.jpg", alt: "TP 12", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp12.jpg', target: "_blank" %></td>     
          </tr>
        </tbody>
      </table>

      <table align="center" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>         
          </tr>
        </thead>
        <tbody>
          <tr>
           <td style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp13.jpg", alt: "TP 13", width: "100%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp13.jpg', target: "_blank" %></td>
            <td align="center" style="padding: 0 10px;"><%= link_to image_tag("termopaneli/tp14.jpg", alt: "TP 14", width: "75%", title: "Термопанели ТермоСип",class: "img-polaroid", style: "padding: 1px;"), '/images/termopaneli/tp14.jpg', target: "_blank" %></td>   
             <td style="padding: 0 10px;"><%= image_tag("", width: "100%", style: "padding: 0px;") %></td> 
          </tr>
        </tbody>
      </table>

      <HR NOSHADE WIDTH="100%" SIZE="3">

      <div class='nc-title'><h2><span>Конструктивная схема термопанели</span></h2></div>

      <p style="text-align:center;"><%= link_to image_tag("termopanel.jpg", alt: "termopanel", size: "750x750", class: "img-polaroid"), '/images/termopanel.jpg', target: "_blank" %></p>
     
     
      <p style="font-size: 14px; text-indent: 2em;"></p>
      <p style="font-size: 14px; text-indent: 2em;"></p>

      <ul style="padding: 0; margin-left: 40px;" class="itemlist">
        <li style="margin: 3px;">Размеры <%= link_to "клинкерной плитки", klinker_path %>, мм: 245х65, толщина 6,5 или 7,4</li>
        <li style="margin: 3px;">Толщина слоя теплоизолятора (пенополиуретана), мм: 40 / 60</li>        
      </ul>

      <div class='nc-title'><h2><span>Технические характеристики термопанелей</span></h2></div>
      
      <table class="features-table">
        <thead>
            <tr>
                <td class="grey" style="text-align: center;">Характеристика</td>
                <td class="green">Значение</td>                
            </tr>
        </thead>
          
        <tbody>
            <tr>
                <td class="grey">Масса одной термопанели, кг</td>
                <td class="green">9,5-11</td>                
            </tr>
            <tr>
                <td class="grey">Толщина слоя пенополиуретана, мм</td>
                <td class="green">40/60</td>                
            </tr>
            <tr>
                <td class="grey">Плотность пенополиуретана, кг/куб.м</td>
                <td class="green">48-52</td>                
            </tr>
            <tr>
                <td class="grey">Коэффициент теплопроводности, Вт/м °C</td>
                <td class="green">0,027</td>                
            </tr>
            <tr>
                <td class="grey">Коэффициент паропроницаемости, мг/(м*ч*Па)</td>
                <td class="green">0,05</td>                
            </tr>
            <tr>
                <td class="grey">Морозостойкость, цикл</td>
                <td class="green">от 150</td>                
            </tr>
            <tr>
                <td class="grey">Класс горючести</td>
                <td class="green">Г-1</td>                
            </tr>
            <tr>
                <td class="grey">Прочность сцепления клинкерных плиток с пенополиуретаном, МПа</td>
                <td class="green">не менее 0,3</td>                
            </tr>
            <tr>
                <td class="grey">Водопоглощение, % от объема</td>
                <td class="green">не более 3</td>                
            </tr>
            <tr>
                <td class="grey">Разрушающее напряжение при изгибе, МПа</td>
                <td class="green">не менее 0,3</td>                
            </tr>
            <tr>
                <td class="grey">Разрушающее напряжение при сжатии, МПа</td>
                <td class="green">не менее 0,2</td>                
            </tr>
            <tr>
                <td class="grey">Температурный режим, °C</td>
                <td class="green">от -60 до +100</td>                
            </tr>
            <tr>
                <td class="grey">Воздействие микроорганизмов и агрессивных сред</td>
                <td class="green">не оказывает влияния</td>                
            </tr>            
        </tbody>

        <tfoot>
          <tr>
            <td class="grey">Срок службы, лет</td>
            <td class="green">не менее 30</td>            
          </tr>
        </tfoot>

      </table>


    </div>
  </div>
</div>