<% provide(:title, 'Видео выполненных работ') %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
      
      <p align="justify">В данном разделе представляем Вашему вниманию видео наших работ. Видео на странице по мере необходимости обновляется.</p>
      
      <p align="center"><b>Фасадные термопанели (клинкерная плитка и пенополиуретан)</b></p>
      
      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/bqd19WGBR3A' %></p>
      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/1NSQZKeXQd8' %></p>
      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/wEC6MNcGdis' %></p>
      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/65cDS3GzC00' %></p>

      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/KEXcAlQnBBg' %></p>
      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/jeP4PzfA9xc' %></p>
      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/KI7ESe1oZ_E' %></p>
      <p align="center"><%= youtube_video 'http://www.youtube.com/embed/rtxCzl3Nzq8' %></p>

    </div>
  </div>
</div>