<li>
  <div class="well" style="border-top: 1px solid #CCC; border-radius: 5px 5px 5px 5px;margin-bottom: 0px;padding-bottom:0px;padding-top:5px;">
  <p style="margin: 0 0 7px;"><%= link_to article.title, article %></p>
  <HR NOSHADE WIDTH="100%" style="margin-bottom: 7px;margin-top: 0px;">
  <%= raw article.description %>
  <p align="right" style="margin: 0 0 0px;"><%= link_to "Читать полностью", article %></p>
  <% if current_user && current_user.admin? %>
    <p><%= link_to "Редактировать", edit_article_path(article) %> | <%= link_to "Удалить", article, method: :delete, data: { confirm: "Вы уверены что хотите удалить статью?" } %></p>
  <% end %>
  
</div>
</li>