<% provide(:title, @article.title) %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, @article.description) %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div class="well">
      <p>
        <% if current_user && current_user.admin? %>
          <%= link_to "Редактировать", edit_article_path(@article) %>
          | <%= link_to "Удалить", @article, method: :delete, data: { confirm: "Вы уверены что хотите удалить статью?" } %>
        <% end %>
      </p>
      <h3 style="text-align:center;">
        <%= raw @article.title %>
      </h3>
      <p style="font-size: 14px;"><%= raw @article.content %></p>
    </div>
  </div>
</div>