<% provide(:title, @article.title) %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, @article.description) %>
<div class="row">
  <%= render 'shared/panel' %>
  <div class="span9">
    <div id="secondary" style="padding: 25px 25px 25px 25px;">
      <aside class="widget">
        <% if current_user && current_user.admin? %>
          <p><%= link_to "Редактировать", edit_article_path(@article) %>
          | <%= link_to "Удалить", @article, method: :delete, data: { confirm: "Вы уверены что хотите удалить статью?" } %></p>
        <% end %>
        <h1><%= raw @article.title %></h1>
        <%= raw @article.content %>
      </aside>
    </div>
  </div>
</div>