<div class="span3">
  <div id="wrapperPanel">
    <%#= image_tag("icon_header1.png") %>
    <li class="nav-header">Товары и услуги</li>
    <ul class="secondary-menu">
      <!--<li><a href=" ">Раздел 1</a>
      <ul class="sub-menu">
        <li><a href=" ">Раздел 1.1</a>
          <ul class="sub-menu">
            <li><a href=" ">Раздел 1.1.1</a></li>
            <li><a href=" ">Раздел 1.1.2</a></li>
          </ul>
        </li>
        <li><a href=" ">Раздел 1.2</a></li>
        <li><a href=" ">Раздел 1.3</a></li>
      </ul>
      </li>-->
      <li><a href="/ppu" style="<%= 'background: #3483a5;' if current_page?(ppu_path) %>">Утепление пенополиуретаном</a></li>
      <li><a href="/pi" style="<%= 'background: #3483a5;' if current_page?(pi_path) %>">Утепление пеноизолом</a></li>
      <li><a href="/termopanel" style="<%= 'background: #3483a5;' if current_page?(termopanel_path) %>">Фасадные термопанели</a></li>
      <li><a href="/klinker" style="<%= 'background: #3483a5;' if current_page?(klinker_path) %>">Клинкерная плитка</a></li>
      <li><a href="/sipanel" style="<%= 'background: #3483a5;' if current_page?(sipanel_path) %>">СИП панели</a></li>
    </ul>

  </div>
  <% if current_page?(pi_path) %>
    
    <HR NOSHADE WIDTH="100%">
    
    <p style="text-align:center;"><%= image_tag("tepoloizolaytsiya.jpg", alt: "Teploizol", class: "img-rounded") %></p>
    <p style="text-align:center;font-family: Times, serif; font-size: 1.2em;"><b>экологичность</b></p>
    <p style="text-align:center;"><%= image_tag("ecology.png", alt: "ECOLOGY", class: "img-rounded") %></p>
    <p style="text-align:center;font-family: Times, serif; font-size: 1.2em;"><b>экономия</b></p>
    <p style="text-align:center;"><%= image_tag("economy.png", alt: "ECOLOGY", class: "img-rounded") %></p>
    
    <HR NOSHADE WIDTH="100%">
    
    <p align="center" style="font-family: Times, serif; font-size: 1.4em;">Сертификат на пеноизол</p>
    <p style="text-align:center;"><%= link_to image_tag("sertificat_pi.jpg", alt: "OIL_BOX", size: "280x280", class: "img-polaroid"), '/images/sertificat_pi.jpg', target: "_blank" %></p>
  
  <% end %>
  <% if current_page?(ppu_path) || current_page?(root_path) || current_page?(about_path) || current_page?(termopanel_path) || current_page?(klinker_path) || current_page?(sipanel_path) %>
    
    <HR NOSHADE WIDTH="100%">
    <p style="text-align:center;"><%= image_tag("tepoloizolaytsiya.jpg", alt: "Teploizol", class: "img-rounded") %></p>
    <p style="text-align:center;font-family: Times, serif; font-size: 1.2em;"><b>экологичность</b></p>
    <p style="text-align:center;"><%= image_tag("ecology.png", alt: "ECOLOGY", class: "img-rounded") %></p>
    <p style="text-align:center;font-family: Times, serif; font-size: 1.2em;"><b>экономия</b></p>
    <p style="text-align:center;"><%= image_tag("economy.png", alt: "ECOLOGY", class: "img-rounded") %></p>
  
  <% end %>

  <% if current_page?(price_path) %>
    <div class="well" id="widget_text">
      <li class="nav-header">Контакты</li>
      <p style="font-size: 14px; padding-left: 14px;">8-950-162-17-47 ☎</p>
      <p style="font-size: 14px; padding-left: 14px;">Дедюхин Сергей Сергеевич</p>
    </div>
    <%= image_tag("stroitel money.png", class: "centerimg") %>
  <% end %>
  
  <% if current_page?(fotomaterial_path) %>
    <%= image_tag("stroitel foto.png", class: "centerimg") %>
  <% end %>

</div>